<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body>

    <%- include('../partials/_navbar.ejs') %>
      <h1>Lyrics List</h1>
      <a href="/lyrics/new">Post A New Lyric</a>
      <div>
        <% lyrics.forEach((lyric)=> { %>
        <a href="/lyrics/<%= lyric._id %>">
        <h1><%= lyric.name %></h1>
        <h4>Artist: <%= lyric.artist %></h4>
        <p>Posted by <%= lyric.owner.username %></p>
        </a>
        <% }) %>
      </div>

      

      <!-- <a href="/new">Post A New Lyric</a> -->
      
  </body>
</html>