<!-- views/listings/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= lyric.name %></title>
  </head>
  <body>
    <div class="topnav">
    <%- include('../partials/_navbar.ejs') %>
    </div>

    <h1 class="title"><%= lyric.name %></h1>

    <p>Artist: <%= lyric.artist %></p>
    <p>Posted by: <a href="http://localhost:3000/account/<%= lyric.owner.username %>"><%= lyric.owner.username %></a></p>
 
    <div class= "iframe">

      <p class="lyrics"><%= lyric.lyrics %></p>

      <div class="video">
      <iframe  width="420" height="345" src="<%= lyric.link %>"></iframe>
      </div>

    </div>

    <% if (lyric.owner.username === user.username) { %>
    <button><a href="<%= lyric._id %>/edit">Edit the Lyrics</a></button>

    <form action="/lyrics/<%=lyric._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= lyric.name %></button>
    </form>
    <% } %>

  </body>
</html>